# created by virtualenv automatically
../.venv/bin
# Ambiente Virtual
.venv/
venv/
env/
ENV/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configurações do PyCharm (IDE)
.idea/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db